# /etc/systemd/system/firehouse.service
[Unit]
Description=Firehouse Film Contest bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fionn/bots/firehouse/
EnvironmentFile=/home/fionn/bots/firehouse/.env
ExecStart=/home/fionn/bots/firehouse/venv/bin/python -u src/firehouse.py
StandardOutput=syslog
StandardError=syslog

DynamicUser=true
PrivateDevices=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
SystemCallArchitectures=native
LockPersonality=true
MemoryDenyWriteExecute=true
InaccessiblePaths=/dev /boot
RestrictRealtime=true
PrivateMounts=true
MountFlags=private
PrivateUsers=true
UMask=0777
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
