# /etc/systemd/system/firehouse.service
[Unit]
Description=Firehouse Film Contest bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fionn/bots/firehouse/
EnvironmentFile=/home/fionn/bots/firehouse/.env
ExecStart=/home/fionn/bots/firehouse/venv/bin/python -u src/firehouse.py
StandardOutput=syslog
StandardError=syslog
